@import url(./variables.css);

.protected-view{
    display: grid;
    gap: 40px;
    background: var(--color-backgroundWhite);
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}
.protected-view header{
    grid-area: header;
    position: relative;
    background: var(--second-mixer);
}
.protected-view main{
    display: grid;
    grid-area: main;
}
.protected-view footer{
    grid-area: footer;
}